.vscode/launch.json
.vscode/tasks.json
Atividade/listaArquivos/arq5/main.exe
Atividade/listaArquivos/arq6/main.exe
Atividade/listaArquivos/arq7/main.exe
.vscode/settings.json
lista1/exec1/main.exe
Atividade/listaArquivos/arq1/main.exe
.vscode/c_cpp_properties.json
